.optionsContainet {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.defolt {
  display: none;
}
.btnOptions {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  box-shadow: inset;
}
.btnOptions:hover {
  background-color: #e0e4e4;
}
